<div class="container container-form">
    <form [formGroup]="updateForm">
        <h2>Datos de la persona Natural o Jurídica que solicita el servicio de trámites virtuales:</h2>
        <div class="form-group">
            <label>Naturaleza:*</label>
            <select formControlName="IdentificationType" class="form-control">
                <option *ngFor="let doc of identificationTypes" [value]="doc">
                    {{doc}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Número de identificación:*</label>
            <input type="number" class="form-control" formControlName="IdentificationNumber">
        </div>
        <div class="row" *ngIf="updateForm.value.IdentificationType == 'Persona Natural'">
            <div class="col">
                <div class="form-group">
                    <label>Primer Apellido:*</label>
                    <input type="text" class="form-control" formControlName="FirstLastName" onkeypress="return /[a-z]/i.test(event.key)">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Segundo Apellido:*</label>
                    <input type="text" class="form-control" formControlName="SecondLastName" onkeypress="return /[a-z]/i.test(event.key)">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Primer Nombre:*</label>
                    <input type="text" class="form-control" formControlName="FirstName" onkeypress="return /[a-z]/i.test(event.key)">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Segundo Nombre:*</label>
                    <input type="text" class="form-control" formControlName="SecondName" onkeypress="return /[a-z]/i.test(event.key)">
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="updateForm.value.IdentificationType == 'Persona Jurídica'">
            <label>Razón Social:*</label>
            <input type="text" class="form-control" formControlName="CompanyName" onkeypress="return /[a-z]/i.test(event.key)">
        </div>
        <div class="form-group">
            <label>Correo electrónico:*</label>
            <input type="email" class="form-control" formControlName="Email">
        </div>
        <div class="form-group">
            <mat-checkbox formControlName="AuthorizeCellPhoneMessages" color="warn">Autorizo el envío de mensajes de
                texto a mi número celular</mat-checkbox>
        </div>
        <div class="form-group">
            <mat-checkbox formControlName="AuthorizeEmailMessages" color="warn">Autorizo el envío de mensajes a mi
                correo electrónico</mat-checkbox>
        </div>
        <div class="container btn-container btn-center">
            <button (click)="update()" class="btn btn-danger btn-expanded">Actualizar Datos</button>
        </div>
    </form>
</div>